<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户</title>
    <link rel="stylesheet" href="../../static/modules/elementui/theme/index.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/modules/animate.min.css">
    <script src="../../static/modules/wow.min.js"></script>
    <script src="../../static/modules/vue.min.js"></script>
    <script src="../../static/modules/vue.min.js"></script>
    <script src="../../static/modules/elementui/index.js"></script>
    <script src="../../static/iconfont/iconfont.js"></script>
</head>
<body>
<el-container id="page" v-cloak>
    <el-header height="auto">
        <page-header></page-header>
    </el-header>
    <el-container>
        <page-aside>
            <template v-slot:menu>
                <page-menus></page-menus>
            </template>
        </page-aside>
        <el-main>
            <div class="child-page">
                <el-form ref="form" :model="user" class="form" label-width="120px" style="margin: 20px 0;">
                    <el-row>
                            <el-col :span="24">
                                <el-form-item label="用户账号" prop="yonghuzhanghao">
                                    <el-input class="list_inp" v-model="user.yonghuzhanghao" disabled placeholder="用户账号" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="用户密码" prop="yonghumima">
                                    <el-input class="list_inp" v-model="user.yonghumima" disabled placeholder="用户密码" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="用户姓名" prop="yonghuxingming">
                                    <el-input class="list_inp" v-model="user.yonghuxingming"  placeholder="用户姓名" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="头像" prop="touxiang">
                                    <file-upload
                                            tip="点击上传头像"
                                            action="file/upload"
                                            :limit="3"
                                            :file-urls="user.touxiang?user.touxiang:''"
                                            @change="yonghutouxiangUploadSuccess">
                                    ></file-upload>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="性别" prop="xingbie">
                                        <el-select
                                                class="list_sel"
                                                v-model="user.xingbie"
                                                placeholder="请选择性别"
                                        >

                                        <el-option v-for="item in yonghuxingbieLists" :label="item" :value="item"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="电话号码" prop="dianhuahaoma">
                                    <el-input class="list_inp" v-model="user.dianhuahaoma"  placeholder="电话号码" clearable />
                                </el-form-item>
                            </el-col>
                        <div class="btn-row" style="text-align: center">
                            <el-button class='userinfo_confirm' type="primary" @click="onSubmit">保存</el-button>
                        </div>
                    </el-row>
                </el-form>
            </div>
        </el-main>
    </el-container>
</el-container>
</body>
<script src="../../static/modules/axios.min.js"></script>
<script src="../../utils/http.js"></script>
<script src="../../utils/toolUtil.js"></script>
<script src="../../utils/global_mixin.js"></script>
<!--引入组件-->
<script src="../../components/pageHeader.js"></script>
<script src="../../components/pageMenus.js"></script>
<script src="../../components/pageAside.js"></script>
<script src="../../components/FileUpload.js"></script>
<script>
    var vm = new Vue({
        el: '#page',
        data(){
            return {
                user:{
                                yonghuzhanghao:null,
                                yonghumima:null,
                                yonghuxingming:null,
                                touxiang:null,
                                xingbie:null,
                                dianhuahaoma:null,
                },
                        yonghuxingbieLists:[],
            }
        },
        mounted(){
            this.getInfo()
        },
        methods: {
            init(){
                        this.yonghuxingbieLists = "男,女".split(',')
            },
                    yonghutouxiangUploadSuccess(fileUrls){
                        this.user.touxiang = fileUrls;
                    },
            onSubmit(){
                        if(!this.user.yonghuzhanghao){
                            return this.$message.error('用户账号不能为空')
                        }
                        if(!this.user.yonghumima){
                            return this.$message.error('用户密码不能为空')
                        }
                        if(!this.user.yonghuxingming){
                            return this.$message.error('用户姓名不能为空')
                        }
                        if(this.user.touxiang!=null){
                            this.user.touxiang = this.user.touxiang.replace(new RegExp(baseUrl,"g"),"");
                        }
                        if((this.user.dianhuahaoma)&& !toolUtil.isMobile(this.user.dianhuahaoma) ){
                            return this.$message.error('电话号码应输入手机格式')
                        }
                        if((this.user.money)&& !toolUtil.isNumber(this.user.money) ){
                            return this.$message.error('余额应输入数字')
                        }
                http.post('yonghu/update',this.user).then(res=>{
                    this.$message.success('修改成功')
                })
            },
            getInfo(){
                http.get('yonghu/session').then(res=>{
                    for(let key in res.data.data){
                        this.user[key] = res.data.data[key]
                    }
                    this.init()
                })
            },
        }
    })
</script>
</html>
